*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: context-menu;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #181818;
  border-radius: 9px;
}
.container {
  margin: 0 auto;

  max-width: 1280px;
}
.header {
  background-image: url(/img/background.png);
  background-position: center center;
  height: 1000px;
  width: 100%;
  background-size: cover;
}
.menu {
  display: flex;
  align-items: center;
  height: 156px;
}
.menu__list {
  display: flex;
  column-gap: 31px;
  padding-left: 56.5px;
}
.menu__item {
  padding: 10px;
}
.menu__link {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.header__logo {
  display: flex;
  flex: 1 1 auto;
  padding: 10px 30px 10px 35.5px;
}
.header__media {
  display: flex;
  column-gap: 24px;
}
